
@{
    ViewBag.Title = "PaymentCancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Cancelled ❌</h2>
<h2>@ViewBag.Message</h2>
<p>If this was a mistake, you can try placing your order again.</p>
